body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #114b5f; 
}

.profile-button {
    background: #114b5f; 
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: rgb(99, 39, 120);
}

.profile-button:focus {
    background: #114b5f;
    box-shadow: none
}

.profile-button:active {
    background: #114b5f;
    box-shadow: none
}

.back:hover {
    color: #114b5f;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #13586f;
    color: #fff;
    cursor: pointer;
    border: solid 1px #114b5f;
}