@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,400&family=Sora:wght@400;600;700&display=swap');

*{
    font-family: 'Sora', sans-serif;
}
.logo-img{
    width:50px;
    height: 50px;
}
.background{
    background-color: rgb(228, 228, 228);
}

.row2-bg{
   background-color: #114b5f;
   color: white;
}

.text1 h3{
    font-size: large;
    font-weight: lighter;
}

.text1 p{
    font-size: small;
}

.text-header h1{
    font-weight: 600;
    color: #114b5f;;
    font-size: 45px;
    margin: 20px 0px;
}

/* .design{
    background-color: rgb(84, 225, 225);
    border-radius: 50%;
    width: 20px;
    height: 20px;
} */

h1::first-letter{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.txt p:first-child::nth-word(-n+2)::nth-letter(1),
.txt p:last-child:nth-word(-n+2):nth-letter(1) {
    background-color: #e0b0ff;
}

.btn{
    color: rgb(255, 255, 255);
    background-color: #ac67da;
    font-size: 14px;
}

.txt h2{
    text-align: left;
    font-weight: 600;
    color: #114c5fc5;
}

.logo-img{
    width:45px;
}

p{
    color: #164b5cc5;
    font-weight: 300;
    font-size: 14px;
}

div.rotate_left {
    float: left;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
  }

.main-img{
    padding: 80px 20px;
}

.btn-move{
     text-align: end;
     padding: 10px 10px;
}

.btn-m{
    border: 0;
    margin: 0px 10px;
    padding: 8px 15px;
}